<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <div class="container">
        <h2>URL Masker</h2>
        <input type="url" id="urlInput" placeholder="Enter your URL" required>
        <button onclick="shortenUrl()">Mask URL</button>
        <div class="output" id="output"></div>
    </div>

    <script>
        async function shortenUrl() {
            const urlInput = document.getElementById("urlInput").value;
            const output = document.getElementById("output");
            output.textContent = "Processing...";

            const response = await fetch('/add_url', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: urlInput })
            });

            const result = await response.json();

            if (result.success) {
                output.innerHTML = `
                    Your Masked URL: <a href="${result.short_url}" class="short-url" target="_blank">${result.short_url}</a>
                `;
            } else {
                output.textContent = result.message || "An error occurred!";
            }
        }
    </script>
</body>
</html>
